@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.misinformation-list {
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
    display: inline;
}

.misinformation-list li {
    list-style: none;
    display: inline-block;
    white-space: nowrap;
    margin-right: 0.3rem;
    margin-bottom: 0.2rem;
    padding: 0.12rem 0.35rem;
    background: #fefefe;
    color: #5f2114;
}

.misinformation-popup {
    position: fixed;
    padding: 20px 30px;
    background: #eeb57c;
    border: 1px solid #ff8d27;
    color: #ffffff;
    width: 20vw;
    right: 0;
    bottom: 5rem;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    z-index: 99999;
}

.misinformation-popup p {
    margin-bottom: 10px;
}

.misinformation-popup a, .misinformation-popup a:focus, .misinformation-popup a:visited {
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px dashed #ffffff;
}

.misinformation-popup .close-popup {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
    opacity: 0.5;
}
